---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'tree'>['data'];

const { title, links, description} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.btn {

      			display: inline-block;
      			margin-top: 1.5rem;
      			background: #2b6cb0;
      			color: white;
      			padding: 0.8rem 1.8rem;
      			border-radius: 6px;
      			text-decoration: none;
      			font-weight: 500;
      			transition: background 0.3s;
    			}

    		.btn:hover {
      			background: #1a4f8a;
    		}
		</style>
	</head>

	<body>
		<Header />
		<main>
            <h1 style="text-align: center;">{title}</h1>
            <h5 style="text-align: center;">{description}</h5>
            <hr>
			<div style="text-align: center;">
            <ul style=" display: inline-block;text-align: left;">
                <!-- TODO: Center and stylize as buttons  -->
                {links.map((item) => (
                    <li><a href={item.link} class="btn" target="_blank">{item.name}</a></li>
                ))}
            </ul>
			</div>
		</main>
		<Footer />
	</body>
</html>
